/* ======= STYLES ======= */

#courseNumber, #courseNumber2, #courseNumber3, #courseNumber4, #resi, #firstclass, #matriculating {
    outline: none;
    padding: 0.4rem;
    border-radius: 5px; 
    border: none; 
    box-shadow: 0 0 10px rgb(202, 202, 202);
    margin: 1rem;
}

#courseoption2, #courseoption3, #courseoption4 {
    display: none;
}

.addCourse {
    border: none;
    font-size: 12pt;
    background-color: #fafafa;

    &hover {
    cursor: pointer;
    text-decoration: underline;
    }
}

#residency, #selectcourses {
    font-weight: bold;
}

#calc, #reload {
    background-color:rgb(51, 51, 142);
    color:white;
    padding: 0.8rem;
    border-radius: 5px; 
    border: none; 
    box-shadow: 0 0 10px rgb(202, 202, 202);
    margin: 0.8rem; 
    font-size: 12pt;
    font-weight: bold;


    &:hover {
        cursor: pointer;
    }
}

 #reload {
    display: none;
 }

.calculations p {
    margin: 0;
}

#total {
    display: none;
    outline:none;padding: 1rem;border-radius: 5px; border: none; box-shadow: 0 0 10px rgb(202, 202, 202);max-width: 15rem;
    font-size: larger;
   }

#addCourse {
    background-color: #fafafa;
    color: rgb(8, 8, 176);
    border: solid rgb(8, 8, 176) 1px;
    padding: .6rem;
    box-shadow: 0 0 10px rgb(202, 202, 202);
    margin-top: 20px;

    &:hover{
        cursor: pointer;
 }
}
#q2 {
    padding-top: 40px;
}

#q3 {
    display: none;
}

.courses {
    padding-top: 40px;
}

#buttons {
    padding-top: 20px;
}

.yourCourses{
    font-weight: bold;
    padding: 40px 0px 20px 15px;
}
